.card{
    display: flex;
    background-color: rgb(133, 133, 112);
    padding: 12px;
    margin: 2px 0px ;
    justify-content: space-between;
    align-items: center;

}
.card-image{
    height: 50px;

}
.card-right{
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    justify-content: space-between;

}
.card-info{
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-left: 12px;
}
.card-title{
    font-size: 20px;

}
.card-time{
    color: brown;
    font-size: 12px;

}
.card-amount{
    font-size: 20px;
    font-weight: 500;

}
.delete-item{
    font-size: 16px;

}
@media only screen and(max-width:1024px){
    .card-title{
        font-size: 16px;
    }
    .card-amount{
        font-size: 16px;
    }
    .card-image{
        height: 32px;

    }
    .card-time{
        font-size: 10px;
    }
}